<div class="container">
  <div class="encoder">
      <div class="select">
          <select class="in_type" id="in_type">
              <option value="1">Normal</option>
              <option value="2">Encrypted</option>
          </select>
          <i class="fa-solid fa-arrows-rotate" (click)="switch()" ></i>
          <select class="out_type" id="out_type" >
              <option value="1">Normal</option>
              <option value="0" selected>Encrypted</option>
          </select>
      </div>
      <hr style="width: 100%;">
      <div class="text_area">
          <textarea class="in" id="in" cols="30" rows="10" placeholder="Ingrese el texto"></textarea>
          <textarea class="out" id="out" cols="30" rows="10" readonly placeholder="Traduccion" (click)="clickboard()"></textarea>
          <span class="tooltip">Click to copy</span>
      </div>
      <div class="button">
          <button type="submit" (click)="Submit()">Submit</button>
          <i class="fa-solid fa-circle-exclamation">todo minuscula, sin acento, no simbolos tampoco numeros</i>
      </div>
  </div>
</div>